<a href="{{site.baseurl}}/"><h1 class="header-title" style="font-size: 1.5em;color: #999">{{site.title}}&nbsp;<i class="fa fa-sun-o" aria-hidden="true"></i></h1></a>
  <a href="{{site.baseurl}}/">Home</a>
<a href="http://www.desgard.com/">Guardia</a>
<a target="_blank" href="http://life.desgard.com/">Guajira</a>
<a href="http://www.desgard.com/about/">About</a> 
  <a href="http://weibo.com/desgard">Contact Weibo</a>
  <a target="_blank" href="http://project.desgard.com/">Project</a>
  <a href="http://www.desgard.com/Gua-Vim/">Gua-Vim</a>
  <a>Version: {{site.version}}</a>
